* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #CCF3FF;
  font-family: sans-serif;
}

.card_validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 450px;
  margin: 130px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(17, 17, 17, 0.5);
          box-shadow: 0px 10px 30px 0px rgba(17, 17, 17, 0.5);
  -webkit-perspective: 4000px;
          perspective: 4000px;
  position: relative;
}

form {
  width: 100%;
  height: auto;
  margin-top: 130px;
}

input {
  height: 30px;
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: 1px solid #A7A3A3;
  border-radius: 4px;
}

input:focus {
  border: 3px solid blue;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

.cardnumb, .cardname {
  margin-bottom: 20px;
}

.form_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.expdate {
  width: 70%;
}

.expdate input {
  width: 45%;
  margin-right: 5px;
}

.expdate input::-webkit-input-placeholder {
  color: #111;
}

.expdate input:-ms-input-placeholder {
  color: #111;
}

.expdate input::-ms-input-placeholder {
  color: #111;
}

.expdate input::placeholder {
  color: #111;
}

.cvv {
  width: 30%;
}

.cvv input {
  width: 100%;
}

button {
  width: 100%;
  height: 40px;
  background-color: #2067F8;
  border: 1px solid #2067F8;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: rgba(32, 103, 248, 0.9);
}

.card {
  width: 400px;
  height: 230px;
  padding: 10px 20px;
  border-radius: 8px;
  background-image: url("../img/creditcard.jpg");
  background-size: cover;
  background-repeat: no-repeat, repeat;
  position: absolute;
  -webkit-box-shadow: 0 10px 20px 0 rgba(17, 17, 17, 0.5);
          box-shadow: 0 10px 20px 0 rgba(17, 17, 17, 0.5);
  top: -25%;
  left: 10%;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardtype {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.cardtype img {
  width: 50px;
  height: 60px;
}

.cardtype img:nth-child(2) {
  width: 60px;
}

.card_number {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 25px;
  border: 1px solid #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.card_number span {
  color: #fff;
  font-size: 20px;
}

.card_number span:nth-child(4n) {
  margin-right: 30px;
}

.cardinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
}

.cardinfo div {
  max-height: 43px;
  color: #fff;
  font-size: 16px;
}

.cardinfo p {
  color: #BCBABA;
}

.name {
  width: 78%;
  height: 100%;
  padding-left: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  overflow: hidden;
}

.card_date {
  width: 20%;
  height: 100%;
  padding-left: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.back_card {
  width: 400px;
  height: 230px;
  border-radius: 8px;
  background-image: url("/assets/img/creditcard.jpg");
  background-size: cover;
  background-repeat: no-repeat, repeat;
  position: absolute;
  -webkit-box-shadow: 0 10px 60px 0 rgba(17, 17, 17, 0.5);
          box-shadow: 0 10px 60px 0 rgba(17, 17, 17, 0.5);
  top: -25%;
  left: 10%;
  z-index: -1;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

.back_card.visible {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.line {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(204, 204, 204, 0.8);
}

.cvv_code {
  width: 100%;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.cvv_code p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
}

.cvv_codeline {
  width: 100%;
  height: 35px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.back_cardtype {
  width: 100px;
  height: 70px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardnumb, .cardname, .form_sec {
  position: relative;
}

.error {
  position: absolute;
  right: -55%;
  top: 40%;
  width: 200px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: red;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.error::before {
  content: '';
  position: absolute;
  left: -5px;
  bottom: 25%;
  width: 20px;
  height: 20px;
  z-index: -2;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.error.showError {
  opacity: 1;
}

.monthValue::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/*# sourceMappingURL=style.css.map */